<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CodeLands_SmsNotification::sms_notification" title="Sms Notification" module="CodeLands_SmsNotification" sortOrder="45" resource="CodeLands_SmsNotification::sms_notification" parent="Magento_Backend::stores"/>
        <add id="CodeLands_SmsNotification::sms_log" title="Sms Logs" module="CodeLands_SmsNotification" sortOrder="10" parent="CodeLands_SmsNotification::sms_notification" action="adminhtml/smsLog/" resource="CodeLands_SmsNotification::sms_log"/>
        <add id="CodeLands_SmsNotification::configuration" title="Configuration" module="CodeLands_SmsNotification" sortOrder="100" action="adminhtml/system_config/edit/section/sms_notification/" resource="CodeLands_SmsNotification::configuration" parent="CodeLands_SmsNotification::sms_notification"/>
    </menu>
</config>
